body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("./assets/kerala.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
}
