body {
  /* Removes default browser margin */
  margin: 0; 
  
  /* a default font for the whole website*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 
    Arial, sans-serif;
  
  /* The  background for the whole page */
  background-color: #000101; 
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}